* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section-1 {
    background-color: rgb(70, 143, 225);
    width: 80vw;
    margin: 20px;
    border: 2px solid #000;
    padding: 13px;
}

.texto-1 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

.texto-2 {
    color: red;
    margin: 10px 0;
    text-align: end;
    text-decoration: double;
    text-transform: capitalize;
}

.texto-3 {
    color: rgb(47, 73, 58);
    text-align: justify;
    text-decoration: underline;
    text-transform: lowercase;
}

.section-2 {
    width: 80vw;
    margin: 20px;
    border: 2px solid #000;
    padding: 13px;
    background-image: url('https://images.pexels.com/photos/14198757/pexels-photo-14198757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center 60%;
    background-attachment:fixed;
    opacity: 0.95;
    filter: invert(100%);
}

.section-2 ul {
    margin: 10px 25px;
    list-style-type: armenian;
    list-style: none;
    
}